<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to SFU Study Hub, <%= @user.first_name %></h1>
    <p>
      You have successfully signed up to SFU Study Hub,
      your username is: <%= @user.username %>.<br>
    </p>
    <p>
      Hope you will contribute and find it useful for your studies!
    </p>
  </body>
</html>
