<% if @course_title.nil? %>
<h1>All the topics</h1>
<% else %>
<h1><%= @course_title%></h1>
<% end %>
<% @topics.each do |topic| %>
<% if topic.title.nil? || topic.description.nil? %>
  </p> something is missing </p>
<% else %>
<p><%= link_to "[" << topic.description << "] " << topic.title, messageboard_path('show', id: topic.id) %></p>
<% end %>
<% end %>
</p>
<% if @course_title.nil? %>
<% else %>
<%= link_to "Create New Topic", messageboard_path('new', :course => @course) %>
<% end %>
<p><%= link_to "Back to Courses", :controller => 'courses', :action => 'index' %></p>
