<h1>Messageboard#index</h1>
<p>Find me in app/views/messageboard/index.html.erb</p>
<% @topics.each do |topic| %>
<% if topic.title.nil? || topic.description.nil? %>
  </p> something is missing </p>
<% else %>
<p><%= link_to "[" << topic.description << "] " << topic.title, messageboard_path('show', id: topic.id) %></p>
<% end %>
<% end %>
</p>
<%= link_to "Create New Topic", messageboard_path('new', :course_id => @course) %>
