<div class="modal fade" id="edit_event">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Event</h4>
      </div>
      <div class="modal-body">
        <% if current_user.id == @event.user_id || current_user.role == "admin" %>
        <%= render 'form', event: @event %>
        <% else %>
        <%= render 'show', event: @event %>
        <% end %>
      </div>
    </div>
  </div>
</div>
