<h3><%= @event.title %></h3>
<% course = @event.course.name %>
<%= link_to "#{course}", {:controller => 'messageboard', :action => 'index', :course => @event.course.id } %>
<% user =  @event.user.username %>
<%= link_to "#{user}", @event.user %>
