<h1>Courses</h1>
<p>Click on a course below to view its message board</p>

<table>
<% @courses.each do |course| %>
<tr>
	<td>
		<%= link_to(course.name, {:controller => 'messageboard', :action => 'index', :course => course.id}) %>
	</td>
</tr>
<% end %>
</table>
