<h1>Courses</h1>
<p>Click on a course below to view its message board.</p>

<!-- once users are set up, add in: if user is admin, then they can add a course -->
<p><%= link_to "Add Course (for admin only - add functionality after user authentication is done)", courses_new_path %></p>

<table>
	<col width = '700'>
	<col width = '50'>
	<tr>
		<th>
			Course
		</th>
		<th colspan=2>
			Admin-only functions to add later
		</th>
	</tr>
	<% @courses.order(:name).each do |course| %>

		<tr>
			<td>
				<%= link_to(course.name, {:controller => 'messageboard', :action => 'index', :course => course.id}) %>
			</td>
			<td>
				<%= link_to 'Edit', edit_course_path(course) %>
			<td>
				<%= link_to 'Delete', course, method: :delete, data: { confirm: 'Are you sure?' } %>
			</td>
		</tr>
	<% end %>
</table>


