<h1>Courses#index</h1>
<p>Find me in app/views/courses/index.html.erb</p>
<p>
<% @courses.each do |course| %>
<%= link_to(course.name, {:controller => 'messageboard', :action => 'index', :course => course.id}) %>
<% end %>
</p>
