<h3>Topic Title</h3>

<table>
  <thead>
    <tr>
      <td> Username of topic starter </td>
      <td>
        <p> Topic body </p>
        <p> Date Posted </p>
      </td>
    </tr>
  </thead>
  <tbody>

      <tr>
        <td>
          <br>
          Respond:
        </td>
      </tr>
      <tr>
        <td>
          Insert comment box here
          <br>
          <br>
        </td>
        <br>
      </tr>

      <tr>
        <td>
          Username
        </td>
        <td>
          <p> Response (Post) </p>
          <p> Date Posted </p>
        </td>
      </tr>

  </tbody>
</table>
