<h4> Topic Title </h4>
<p>
<% @posts.each do |post| %>
<%= post.text %>
<% end %>
</p>

<table>
  <thead>
    <tr colspan="2">
      <td> Username of topic starter </td>
    </tr>
    <tr>
      <td colspan="2">
        <p> Topic body </p>
      </td>
    </tr>
    <tr colspan="2">
      <td> Date Posted </td>
    </tr>
  </thead>

  <tbody>
      <tr colspan="2">
        <td> Respond: </td>
      </tr>
      <tr colspan="2">
        <td> Insert comment box here</td>
      </tr>

      <tr>
        <td> Username </td>
        <td> Date Posted </td>
      </tr>
      <tr colspan="2">
        <td>
          <p>
            Response (Post)
          </p>
        </td>
      </tr>
  </tbody>
</table>
