// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.nested_posts_border{
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #d7dae0;
}

div.nested_posts{
  margin-left: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
}

div.post{
  margin-top: 2px;
  margin-bottom: 2px
}
