// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.user_about{
  float: left;
  margin-right: 50px;
}

div.user_tutor{
  margin-right: 50px;
}

div.user_lists{
  clear: both;
}

table.user_about{
  border-width: 0px;
  border-color: white;
}
