<h1>New Review</h1>

<% if current_user %>
	<%= form_for [review, Review.new] do |f| %>
    <%= f.text :comment, placeholder: "Write a Review" %> <br/>
    <%= f.submit "Post Review"  %>
	<% end %>
<% end %>