<h1>Comment Reviews for Tutor</h1>

<table>
  <% @reviews.each do |review| %>
    <tr>
      <td><%= review.comment unless review.comment.blank? %></td>
    </tr>
  <% end %>
</table>

<a href=<%= user_path(:id=>@user.id) %>>Back</a>